<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.github.PruneMazui.SmartyEditor.editors.SmartyEditor"
            extensions="tpl"
            icon="icons/sample.gif"
            id="com.github.PruneMazui.SmartyEditor.editors.SmartyEditor"
            name="Smarty Editor">
         <contentTypeBinding contentTypeId="com.github.PruneMazui.SmartyEditor.content-type"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.github.PruneMazui.SmartyEditor.preferences.PreferencePage"
            id="com.github.PruneMazui.SmartyEditor.preferences.MyPreferencePage"
            name="Smarty Editor"/>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.editorConfiguration">
      <sourceViewerConfiguration
            class="com.github.PruneMazui.SmartyEditor.editors.StructuredTextViewerConfigurationSmarty"
            target="com.github.PruneMazui.SmartyEditor.editors.SmartyEditor"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.github.PruneMazui.SmartyEditor.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.wst.html.core.htmlsource"
            file-extensions="tpl"
            id="com.github.PruneMazui.SmartyEditor.content-type"
            name="Smarty Template File"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>

</plugin>
