<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.github.PruneMazui.SmartyEditor.editors.SmartyEditor"
            contributorClass="org.eclipse.wst.html.ui.internal.edit.ui.ActionContributorHTML"
            extensions="tpl"
            icon="icons/sample.gif"
            id="com.github.PruneMazui.SmartyEditor.editors.SmartyEditor"
            name="Smarty Editor">
         <contentTypeBinding contentTypeId="com.github.PruneMazui.SmartyEditor.content-type"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.github.PruneMazui.SmartyEditor.preferences.PreferencePage"
            id="com.github.PruneMazui.SmartyEditor.preferences.MyPreferencePage"
            name="Smarty Editor"/>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.editorConfiguration">
      <sourceViewerConfiguration
            class="com.github.PruneMazui.SmartyEditor.editors.StructuredTextViewerConfigurationSmarty"
            target="com.github.PruneMazui.SmartyEditor.editors.SmartyEditor"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.github.PruneMazui.SmartyEditor.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
		<editorContribution
			id="org.eclipse.wst.html.core.htmlsource.source.editorActions"
			targetID="com.github.PruneMazui.SmartyEditor.editors.SmartyEditor">
			<action
				id="CleanupDocument"
				label="%CleanupDocument_label"
				definitionId="org.eclipse.wst.sse.ui.cleanup.document"
				tooltip="%CleanupDocument_tooltip"
				class="org.eclipse.wst.html.ui.internal.edit.ui.CleanupActionHTMLDelegate"
				actionID="CleanupDocument">
			</action>
			<action
				id="ToggleComment"
				label="%ToggleComment_label"
				definitionId="org.eclipse.wst.sse.ui.toggle.comment"
				tooltip="%ToggleComment_tooltip"
				class="org.eclipse.wst.xml.ui.internal.actions.ToggleCommentActionXMLDelegate"
				actionID="ToggleComment">
			</action>
			<action
				id="AddBlockComment"
				label="%AddBlockComment_label"
				definitionId="org.eclipse.wst.sse.ui.add.block.comment"
				tooltip="%AddBlockComment_tooltip"
				class="org.eclipse.wst.xml.ui.internal.actions.AddBlockCommentActionXMLDelegate"
				actionID="AddBlockComment">
			</action>
			<action
				id="RemoveBlockComment"
				label="%RemoveBlockComment_label"
				definitionId="org.eclipse.wst.sse.ui.remove.block.comment"
				tooltip="%RemoveBlockComment_tooltip"
				class="org.eclipse.wst.xml.ui.internal.actions.RemoveBlockCommentActionXMLDelegate"
				actionID="RemoveBlockComment">
			</action>
			<action
				id="FindOccurrences"
				label="%FindOccurrences_label"
				definitionId="org.eclipse.wst.sse.ui.search.find.occurrences"
				class="org.eclipse.wst.html.ui.internal.search.HTMLFindOccurrencesActionDelegate"
				actionID="FindOccurrences">
			</action>
			<action
				id="StructureSelectEnclosing"
				label="%StructureSelectEnclosing_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.enclosing"
				tooltip="%StructureSelectEnclosing_tooltip"
				class="org.eclipse.wst.xml.ui.internal.selection.StructuredSelectEnclosingXMLActionDelegate"
				actionID="StructureSelectEnclosing">
			</action>
			<action
				id="StructureSelectNext"
				label="%StructureSelectNext_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.next"
				tooltip="%StructureSelectNext_tooltip"
				class="org.eclipse.wst.xml.ui.internal.selection.StructuredSelectNextXMLActionDelegate"
				actionID="StructureSelectNext">
			</action>
			<action
				id="StructureSelectPrevious"
				label="%StructureSelectPrevious_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.previous"
				tooltip="%StructureSelectPrevious_tooltip"
				class="org.eclipse.wst.xml.ui.internal.selection.StructuredSelectPreviousXMLActionDelegate"
				actionID="StructureSelectPrevious">
			</action>
			<action
				id="StructureSelectHistory"
				label="%StructureSelectHistory_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.last"
				tooltip="%StructureSelectHistory_tooltip"
				class="org.eclipse.wst.sse.ui.internal.selection.StructuredSelectHistoryActionDelegate"
				actionID="StructureSelectHistory">
			</action>
		</editorContribution>
        <editorContribution
            targetID="com.github.PruneMazui.SmartyEditor.editors.SmartyEditor"
            id="org.eclipse.wst.html.core.htmlsource.ruler.actions">
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               actionID="RulerDoubleClick"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction"/>
         <action
               label="%SelectRuler.label"
               class="org.eclipse.ui.texteditor.SelectRulerAction"
               actionID="RulerClick"
               id="org.eclipse.ui.texteditor.SelectRulerAction"/>
        </editorContribution>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.wst.html.core.htmlsource"
            describer="org.eclipse.core.internal.content.TextContentDescriber"
            file-extensions="tpl"
            id="com.github.PruneMazui.SmartyEditor.content-type"
            name="Smarty Template File"
            priority="normal">
      </content-type>
   </extension>

</plugin>
